.popupWrapper {
  width: fit-content;
  padding: 6px;
  color: #000000;
  font-size: 14px;
  background-color: #fff;
  border-radius: 4px;
  position: fixed;
  top: 10%;
  left: 45%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  animation: fadeInDown 0.3s linear;
  z-index: 1111111;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 500px) {
  .popupWrapper {
    position: fixed;
    top: 10%;
    left: 35%;
  }
}
